<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Edit <%= singular_table_name.titleize %>
      </header>
      <div class="panel-body">
       <%%= render 'form' %>

      </div>
    </section>
  </div>
</div>

