<div class="container">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name),:html=>{:class=>"form-signin",method: :post}) do |f| %>
   <h2 class="form-signin-heading">Forgot your password?</h2>
   
    <div class="login-wrap">
      <%= devise_error_messages! %>
      <%= f.email_field "email",:class=>"form-control",:placeholder=>"Email",:autofocus=>true %>
      <button class="btn btn-lg btn-login btn-block" type="submit">Forgot Password</button>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>



